@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600;700&display=swap');

body{
    background-color: rgb(24, 24, 24);
    color: rgb(177, 177, 177);
    font-family: 'Zilla Slab', serif;
    margin: 0;
    padding: 0;
    display: flex;
}

h1{
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 1%;
    font-size: 300%
}

p{
    font-size: 200%;
}

.perfil{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-top: -5%;
}

.p1 {
    margin-top: 1%;
    margin-left: 3%;
    width: 90%;
    border-bottom: white 2px solid;
}

#rr h2 {
    margin-bottom: 5%;
    position: relative;
    text-align: center;
}

h2{
    font-size: 300%;
    top: 3px;
    position: absolute;
}

img{
    border-bottom: 2px solid rgb(177, 177, 177);
    border-right: 2px solid rgb(177, 177, 177);
    border-top: 2px solid rgb(177, 177, 177);
    border-left: 2px solid rgb(177, 177, 177);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 20px;
}

.grid-item{
    padding:1%;
}

.grid-item1{
    display: flex;
    flex-direction: column;
}


.foto{
    place-self: center;
}

.att{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book {
    width: 90%;
    height: 65%;
    background-color: rgb(63, 63, 63);
    border: 2px solid rgb(177, 177, 177);
    margin: 0 auto; /* Centraliza horizontalmente */
}

.h11{
    margin-bottom: -3%;
    margin-top: 5%;
}

.h12{
    margin-bottom: -3%;
    margin-top: -5%;
    margin-left: -10%;
}

.p2{
    margin-top: -12%;
    width: 90%;
}

.img1{
    margin: 0 auto;
    width: 80%;
    height: 80%;
    margin-top: 2%;
}

#g1{
   margin: 0 auto;
   margin-top: 0%;
   padding-top: 3%;
   width: 80%;
}

.icon{
    border-radius: 50%;
    border-style: none;
    width: 3rem;
    padding-left: 3%;
    margin-top: 2%;
}

.icon:hover{
    transition: 0.3s;
    transform: scale(1.2);
}

#rr{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gg{
    margin-top: -5%;
}

.gallery{
    width: 30%;
    height: 20%;
}

.skill{
    position: fixed;
    background-color: rgb(24, 24, 24);
    border: solid 3px rgb(177, 177, 177);
    border-bottom: 0px;
    width: 350px;
    height: 55px;
    margin: 0 auto;
    bottom: 0;
    align-self: center;
    border-radius: 2rem 2rem 0 0;
    display: flex; /* Tornar o contêiner um contêiner flexível */
    justify-content: center; /* Centralizar horizontalmente */
}

.iicon{
   padding: 1%;
   width: 48px;
   height: 48px;
   border: 0px;
}

.iicon1{
    padding: 1%;
    width: 43px;
    height: 43px;
    border: 0px;
    margin-top: 2px;
 }