@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600;700&display=swap');
:root {
    --background-color-light: #eeeeee;
    --text-color-light: #383838;
    --button-background-light: #eeeeee;
    --button-text-light: #383838;
    --link-color-light: #000000;

    --background-color-dark: #383838;
    --text-color-dark: #eeeeee;
    --button-background-dark: #383838;
    --button-text-dark: #eeeeee;
    --link-color-dark: #fff;

    --hover-color-light: #b3b3b3;
    --hover-color-dark: #000000;

    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --button-background: var(--button-background-light);
    --button-text: var(--button-text-light);
    --hover-color: var(--hover-color-light);
    --link-color: var(--link-color-light)
}

[data-theme="dark"] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --button-background: var(--button-background-dark);
    --button-text: var(--button-text-dark);
    --hover-color: var(--hover-color-dark);
    --link-color: var(--link-color-dark)
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Zilla Slab', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-decoration: none;
}

h1 {
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 1%;
    font-size: 300%;
}

p {
    font-size: 200%;
}

.perfil {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-top: -5%;
}

.p1 {
    margin-top: 1%;
    margin-left: 3%;
    width: 90%;
    border-bottom: var(--text-color) 2px solid;
}

#rr h2 {
    margin-bottom: 5%;
    position: relative;
    text-align: center;
}

h2 {
    font-size: 300%;
    top: 3px;
    position: absolute;
}

img {
    border-bottom: 2px solid var(--text-color);
    border-right: 2px solid var(--text-color);
    border-top: 2px solid var(--text-color);
    border-left: 2px solid var(--text-color);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    padding: 1%;
}

.grid-item1 {
    display: flex;
    flex-direction: column;
}

.foto {
    place-self: center;
}

.att {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h11 {
    margin-bottom: -3%;
    margin-top: 5%;
}

.p2 {
    margin-top: -12%;
    width: 90%;
}

.img1 {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    margin-top: 2%;
}

#g1 {
    margin: 0 auto;
    margin-top: 0%;
    padding-top: 3%;
    width: 80%;
}

.icon {
    border-radius: 50%;
    border-style: none;
    width: 3rem;
    padding-left: 3%;
    margin-top: 2%;
}

.icon:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

#rr {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill {
    position: fixed;
    background-color: var(--background-color);
    border: solid 3px var(--text-color);
    border-bottom: 0px;
    width: 350px;
    height: 6%;
    margin: 0 auto;
    bottom: 0;
    align-self: center;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    justify-content: center;
}

.iicon {
    padding: 1%;
    width: 48px;
    height: 48px;
    border: 0px;
}

.iicon1 {
    padding: 1%;
    width: 43px;
    height: 43px;
    border: 0px;
    margin-top: 2px;
}

.theme-button {
    position: relative;
    width: 3.5rem;
    text-align: center;
    font-size: 2rem;
    background-color: var(--button-background);
    border: 0px;
    padding: 3px;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
}

.theme-button::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--hover-color);
    transition: top 0.1s ease;
    z-index: -1;
}

.theme-button:hover::before {
    top: 0;
}

.theme-button:hover {
    color: var(--button-text);
}

.rod-item {
    border-bottom: var(--text-color) solid 2px;
    text-align: center;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.4s forwards;
}

.linkks{
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}